.contact-site {

    .contact-advisory {
        padding-bottom: 50px;

        @media (min-width: 1366px) {
            .container {
                max-width: 1220px;
            }
        }

        .contact-advisory--wrapper {
            background: #ffffff;
            padding: 20px;
            margin-top: -50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);

            .image {
                position: relative;
                padding-bottom: 350px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    position: absolute;
                }
            }

            .card {
                border: none;

                .card-header {
                    padding: 13px 0;
                    background-color: transparent;
                    border-bottom: 1px solid $theme;



                    .btn-link {
                        text-align: left;
                        font-weight: 600;
                        color: #181818;
                        line-height: 25px;
                        font-size: 14px;
                        display: block;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        text-transform: uppercase;
                        position: relative;

                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }

                        i {
                            position: absolute;
                            right: 0;
                            top: 5px;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        &[data-toggle="collapse"] .fa:before {
                            content: "\f107";
                        }

                        &[data-toggle="collapse"].collapsed .fa:before {
                            content: "\f106";
                        }
                    }
                }

                .card-body {
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 14px;
                    line-height: 25px;

                    ul {
                        li {
                            padding-left: 20px;
                            background: url('../images/dot.png') 0 9px no-repeat;
                            background-size: 6px;
                        }
                    }
                }
            }

            @media (min-width: 1200px) {

                .image {
                    padding-bottom: 580px;
                }
            }
        }
    }

    .contact-cmt {
        padding-bottom: 50px;

        .wrap {
            background: #ffffff;
            padding: 20px;
            text-align: center;
            height: 100%;

            .image {
                width: 105px;
                height: 88px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 1rem;

                img {}
            }

            h3 {
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 1rem;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }

            .btn-custom {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                line-height: 44px;
                padding: 5px 30px;
                color: #ffffff;
                text-transform: uppercase;

                &:hover {
                    color: #fff !important;
                }
            }
        }
    }
}